Made with ♥ by Jenny. You can <a class="rainbow" href="mailto:jennymikac@gmail.com"><b>email me</b></a> or find me elsewhere on the web        
<div>
<a class="internal-link" style="margin-right: 0.7em; border-bottom: none !important;" href="http://www.github.com/maudlinmandrake"><i class="fab fa-github-alt"></i></a>
<a class="internal-link" style="margin-right: 0.7em; border-bottom: none !important;" href="http://www.dev.to/maudlinmandrake"><i class="fab fa-dev"></i></a>
<a class="internal-link" style="margin-right: 0.7em; border-bottom: none !important;" href="http://www.twitter.com/jennymikac"><i class="fab fa-twitter"></i></a>
</div>
